*{
    margin: 0;
    padding: 0;
}

@font-family: 'Bungee Spice', sans-serif;
@font-family: 'Caveat', cursive;
@font-family: 'Mate', serif;
@font-family: 'Montserrat Alternates', sans-serif;


body{
  
    background-color: rgb(189, 208, 208) !important;

    
}
















